@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Data Analysis Dashboard</h1>

    <br />
    <br />
    <p><a href="@Url.Action("Index","Data")" class="btn btn-primary btn-lg">View Data &raquo;</a></p>
    <br />
    <p><a href="@Url.Action("Index","Import")" class="btn btn-primary btn-lg">Import Data &raquo;</a></p>
    <br />
    <p><a href="@Url.Action("Index","Report")" class="btn btn-primary btn-lg">Generate Reports &raquo;</a></p>
</div>

